* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main div {
    margin: 1rem;
    height: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    border: 1px solid black;
    background-color: rgb(107, 104, 104)37, 131, 131;
    transition: all 0.4s;
}

.main div:hover {
    transform: scale(1.1);
}

.box1 {
    width: 4rem;
}

.box2 {
    width: 9rem;
}

.box3 {
    width: 15rem;
}

.box4 {
    width: 8rem;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col div {
    width: 42rem;
    margin: 1rem;
    height: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    border: 1px solid black;
    background-color: rgb(107, 104, 104)37, 131, 131;
    transition: all 0.5s;
}

.col div:hover {
    transform: scale(1.05);
}

.row div:hover {
    transform: scale(1.25);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row div {
    width: 3rem;
    margin: 0.95rem;
    height: 2rem;
    transition: all 0.5s;
    border-radius: 15px;
    box-shadow: 0px 0px 10px;
    border: 1px solid black;
    background-color: rgb(107, 104, 104)37, 131, 131;
}